/* image alt位置*/
.img-alt{font-size: 16px;margin: 0;color: #858585;}
.is-center{text-align:center;}
/*代码块优化*/
pre {background: #263238;border-radius: 5px;color: #b3b3b3;font-size: 16px;line-height: 1.5;overflow: auto;padding: 1.5rem;white-space: pre-wrap;word-wrap: break-word;}
pre code{font-family:Consolas,Menlo,Monaco,'Andale Mono WT','Andale Mono','Lucida Console','Lucida Sans Typewriter','DejaVu Sans Mono','Bitstream Vera Sans Mono','Liberation Mono','Nimbus Mono L','Courier New',Courier,monospace;font-size:16px;margin:0;padding:0}
pre::-webkit-scrollbar{width:12px}
pre::-webkit-scrollbar-thumb{-webkit-border-radius:10px;border-radius:10px;background:#7a7e87}
pre::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);-webkit-border-radius:10px;border-radius:10px;background:#2e373f}
/*评论区美化*/
.comment-form-author,.comment-form-email,.comment-form-url,.comment-form-cookies-consent{display:flex;flex: 0 0 33.333333%;max-width: 33.333333%;float: left;padding-left: 15px;padding-right: 15px;}
.form-submit{flex: 0 0 33.333333%;max-width: 33.333333%;}
@media (max-width:767px){
	.comment-form-author,.comment-form-email,.comment-form-url,.comment-form-cookies-consent{max-width: 100%;padding-left: 0;padding-right: 0;}
}

/*相关推荐*/
.related-post > h3{display: block;position: absolute}
.related-post{background-color: #fff;border-radius: 5px;box-shadow: 0 0 10px rgba(0,0,0,.05);display: flex;margin-top: 30px;padding: 20px 20px}
.dark-mode .related-post{background-color:#2b2b2b;}
.related-post .post .entry-wrapper{padding: 10px}
.related-post .entry-header .entry-title{min-height: 33px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;font-size: 14px;line-height: 1.2}
.related-post .entry-action{padding: 10px}
/* .related-post .post{box-shadow: none;border: 1px solid #f4f4f4;margin-bottom: 0} */
.dark-mode .related-post .post{border: 1px solid rgba(255,255,255,0.2);}
.related-post .row{width: 100%;margin-top: 40px;margin-left: -10px;margin-right: -10px}
.related-post .iconfont.icon-shijian{vertical-align: text-bottom}
.related-post .col-xl-3{padding-left: 10px;padding-right: 10px}
@media (max-width:767px){
	.related-post .col-xl-3 {width: 50%;margin-bottom: 20px}
}

/*微信分享*/
.dialog-xintheme{position:fixed;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;pointer-events:none;z-index:1111;width:100%;height:100%;top:0;left:0}
.dialog-content{width:50%;max-width:350px;min-width:290px;background:#fff;padding:4em;text-align:center;position:relative;z-index:5;opacity:0}
.dialog-wechat-content p{font-size:12px}
.dialog-wechat-content img{margin: 0 auto;width:170px;height:170px;vertical-align:middle;max-width:100%;border:0}
.dialog-content .btn-close{position:absolute;bottom:-60px;left:0;width:100%;font-size:24px;color:#bfbfbf;display:inline-block}
.dialog-content .btn-close .icon-guanbi1{font-size: 42px;}
.dialog_overlay{position:fixed;background:rgba(55,58,71,.9);-webkit-transition:opacity .3s;transition:opacity .3s;-webkit-backface-visibility:hidden;opacity:1;pointer-events:auto;z-index:111;width: 100%;height: 100%;top: 0;left: 0;}
.dialog-xintheme.open .dialog-content {-webkit-animation-name: dialog-open;animation-name: dialog-open;}
.dialog-xintheme.open .dialog-content{opacity: 1;-webkit-animation-duration: .3s;animation-duration: .3s;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;pointer-events: auto;}

/*版权*/
.post-copyright { position: relative; margin: 40px 0px 10px; padding: 10px 16px; border: 1px solid #eee; transition: box-shadow 0.3s ease-in-out 0s; }
.dark-mode .post-copyright{border: 1px solid rgba(255,255,255,0.7);}
.post-copyright::before { position: absolute; top: 2px; right: 12px; color: var(--accent-color); content: "©"; font-size: 1.3em; }
.post-copyright:hover { box-shadow: rgba(232, 237, 250, 0.6) 0px 0px 8px 0px, rgba(232, 237, 250, 0.5) 0px 2px 4px 0px; }
.post-copyright .post-copyright-meta { color: var(--accent-color); font-weight: 700; }
.post-copyright .post-copyright-info { padding-left: 6px; }
.post-copyright .post-copyright-info a { text-decoration: underline; word-break: break-word; }
.post-copyright .post-copyright-info a:hover { text-decoration: none; }
/*打赏*/
.reward{width:80%;margin:10px auto;}
.reward .box{display:flex;}
.reward .hide_box{z-index:999;filter:alpha(opacity=50);background:#666;opacity: 0.5;-moz-opacity: 0.5;left:0;top:0;height:99%;width:100%;position:fixed;display:none;}
.shang_box{width:570px;padding:10px;background-color:#fff;border-radius:10px;position:fixed;z-index:1000;left:42%;top:50%;margin-left:-280px;margin-top:-280px;border:1px dotted #dedede;display:none;}
.shang_box img{display:inline;border:none;border-width:0;}
.dashang{display:block;width:110px;margin:5px auto;height:40px;line-height:20px;padding:10px;background-color:#E74851;color:#fff;text-align:center;text-decoration:none;border-radius:10px;font-weight:bold;font-size:16px;animation: move 3s 0s infinite;-webkit-animation: move 3s 0s infinite;transform-origin: bottom;-webkit-transform-origin: bottom;}
.dashang:hover{background:#425aef;box-shadow: none;}
.shang_close{float:right;display:inline-block;}
.shang_logo{display:block;text-align:center;margin:20px auto;}
.shang_tit{width: 100%;height: 75px;text-align: center;line-height: 66px;color: #a3a3a3;font-size: 16px;background: url('https://cdn.wangdu.site/WP/images/cy-reward-title-bg.jpg');font-family: 'Microsoft YaHei';margin-top: 7px;margin-right:2px;}
.shang_tit p{color:#a3a3a3;text-align:center;font-size:16px;}
.shang_payimg{width:170px;padding:10px;border:6px solid #EA5F00;margin:0 auto;border-radius:3px;height:170px;}
.shang_payimg img{display:block;text-align:center;width:140px;height:140px; }
.pay_explain{text-align:center;margin:10px auto;font-size:12px;color:#D8213C;font-weight: 700;}
.radiobox{width: 16px;height: 16px;background: url('https://cdn.wangdu.site/WP/images/radio2.jpg');display: block;float: left;margin-top: 5px;margin-right: 14px;}
.checked .radiobox{background:url('https://cdn.wangdu.site/WP/images/radio1.jpg');}
.shang_payselect{text-align:center;margin:0 auto;margin-top:40px;cursor:pointer;height:60px;width:280px;}
.shang_payselect .pay_item{display:inline-block;margin-right:10px;float:left;}
.shang_info{clear:both;}
.shang_info p,.shang_info a{color:#C3C3C3;text-align:center;font-size:12px;text-decoration:none;line-height:2em;}
@keyframes move {

0%,
65% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

70% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
}

75% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

80% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
}

85% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

90% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
}

95% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
}
@media (max-width:767px){
	.shang_box{width:80%;left:86%;}
}

/*目录*/
/* 注册登录弹窗出现时，将页面放置在阴影里 */
.is-visible2 .toc-sidebar-button{z-index: 0;}
#toc-sidebar-button {position: fixed;top: 50%;left: 0;transform: translateY(-50%);background-color: #fff;border: 1px solid #ccc;border-radius: 4px;box-shadow: 1px 1px 5px rgba(0,0,0,0.25);padding: 8px;font-size: 14px;cursor: pointer;z-index: 9999;writing-mode: vertical-rl;text-orientation: upright;
}
/*面包屑*/
.breadcrumbs {color: #999;margin-top: 15px;margin-bottom: 15px;font-size: 12px;font-weight: bold;text-transform: uppercase;}
.breadcrumbs ul {margin: 0;padding: 0;list-style: none;display: flex;}
.breadcrumbs ul li {display: inline-block;margin-right: 5px;line-height: 20px;width: auto;}
.breadcrumbs ul li:last-child {color: #333;}
.dark-mode .breadcrumbs ul li:last-child {color: rgba(255,255,255,0.8);}
.breadcrumbs ul li:not(:first-child)::before {content: ">";font-family: dashicons;margin-right: 5px;}
.breadcrumbs a {color: #999;text-decoration: none;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;transition: all .3s ease;}
.breadcrumbs a:hover {color: #555;}
.dark-mode .breadcrumbs a:hover {color: #fff;}
.breadcrumbs i {color: #666;margin: 0 5px;} 
/*fancybox*/
.single .entry-content .gallery{margin-bottom: 30px;clear:both;font-size:18px;}
.single .entry-content .gallery .gallery-item{margin:0!important;overflow:hidden;position:relative;float:left;clear: none}
.single .entry-content.gallery-caption{pointer-events:none;padding:1000px 20px;position:absolute;top:50%;left:0;right:0;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);webkit-transition:.5s ease all;-moz-transition:.5s ease all;-o-transition:.5s ease all;transition:.5s ease all;text-align:center;color:#fff;opacity:0;background-color:rgba(0,0,0,.70);cursor:pointer;}
.single .entry-content .gallery .gallery-item:hover .gallery-caption{opacity:1;}
.single .entry-content .gallery .gallery-item dt:before{content:"";display:block;padding-top:100%;}
.single .entry-content .gallery .gallery-item dt{position:relative;box-shadow:0 0 0 1px rgba(0,0,0,.1) inset;background:#eee;cursor:pointer;overflow:hidden;}
.single .entry-content .gallery .gallery-item a{display:block;width:100%;height:100%;position:absolute;top:0;border:0;margin:0;}
.single .entry-content .gallery .gallery-item img{position:absolute;top:0;left:0;height:100%;width:100%;object-fit:cover;border:0!important;box-shadow:none;}
.single .entry-content .gallery .gallery-item a img{margin:0}
.single .entry-content .gallery .gallery-item a:hover:after,.single .entry-content .gallery .gallery-item a:hover:before{visibility:visible}
.single .entry-content .gallery .gallery-item a:hover:after{opacity:.75}
.single .entry-content .gallery .gallery-item a:hover:before{opacity:1}
.single .entry-content .gallery .gallery-item a:after,.single .entry-content .gallery .gallery-item a:before{-webkit-transition:opacity .25s ease,visibility .25s ease;-moz-transition:opacity .25s ease,visibility .25s ease;-ms-transition:opacity .25s ease,visibility .25s ease;-o-transition:opacity .25s ease,visibility .25s ease;transition:opacity .25s ease,visibility .25s ease;position:absolute;opacity:0;visibility:hidden}
.single .entry-content .gallery .gallery-item a:after{content:'';top:0;right:0;left:0;bottom:0;overflow:hidden;border-radius:3px}
.single .entry-content .gallery .gallery-item a:before{font-size:28px;line-height:1;z-index:1;color:#fff;content:"\e633";font-family:iconfont;top:50%;left:50%;margin-left:-12px;margin-top:-12px}
.single .entry-content .gallery .gallery-item a:after {background: var(--accent-color);background: -moz-linear-gradient(top,  #bebbaa 0%, var(--accent-color) 100%);background: -webkit-gradient(linear, top center, bottom center, color-stop(0%,var(--accent-color)), color-stop(100%,var(--accent-color)));background: -webkit-linear-gradient(top,  #bebbaa 0%,var(--accent-color) 100%);background: -o-linear-gradient(top,  #bebbaa 0%,var(--accent-color) 100%);background: -ms-linear-gradient(top,  #bebbaa 0%,var(--accent-color) 100%);background: linear-gradient(to bottom,  #bebbaa 0%,var(--accent-color) 100%);}
/* 评论区域 */
.comments-area #reply-title,.comments-area .comments-title,.explore .explore-category,.instagram-footer .widget-title,.instagram-slider .widget-title,.related-posts h3{font-size:16px;margin-bottom:30px;text-transform:uppercase}
@media (max-width:991px){.related-posts{margin:45px auto 0;max-width:400px}
}
.comments-area{background-color:#fff;border-radius:5px;box-shadow:0 0 10px rgba(0,0,0,.05);margin-top:30px;padding:30px}
.comments-area #reply-title{align-items:center;display:flex;justify-content:space-between;margin-bottom:10px;position:relative;font-size: 22px;}
.comments-area #reply-title a,.comments-area .edit-link a,.comments-area .reply-link a{color:#aaa;font-size:0;height:20px;line-height:20px;position:absolute;right:0;text-align:center;top:0;width:20px}
.comments-area #reply-title a:before,.comments-area .edit-link a:before,.comments-area .reply-link a:before{content:"\e600";font-family:"iconfont" !important;font-size:16px}
.comments-area .children,.comments-area .comment-list{list-style-type:none;margin:0;padding:0}
.comments-area .children{padding-left:20px}
.comments-area .comment-wrapper{margin-bottom:30px}
.comments-area .comment-author-avatar{float:left;margin-top:3px;width:50px}
.comments-area .comment-author-avatar .avatar{border-radius:50%}
.comments-area .comment-content{border-bottom:1px solid #f4f4f4;margin-left:70px;overflow:hidden;padding-bottom:30px;position:relative}
.dark-mode .comments-area .comment-content{border-color: #333}
.comments-area .comment-author-name{color:#1a1a1a;font-weight:500}
.dark-mode .comments-area .comment-author-name{color: #fff}
.comments-area .comment-author-name .fn{font-style:normal}
.comments-area .bypostauthor>.comment-wrapper .fn:before{color:var(--accent-color);content:"\e606";font-family:"iconfont" !important;margin:0 5px 0 1px}
.comments-area .comment-metadata{color:#aaa;font-size:11px;font-weight:500;margin-bottom:10px;text-transform:uppercase}
.comments-area .comment-body>:first-child{margin-top:0}
.comments-area .comment-body>:last-child{margin-bottom:0}
.comments-area .comment-body dl dl,.comments-area .comment-body dl ol,.comments-area .comment-body dl ul,.comments-area .comment-body ol dl,.comments-area .comment-body ol ol,.comments-area .comment-body ol ul,.comments-area .comment-body ul dl,.comments-area .comment-body ul ol,.comments-area .comment-body ul ul{margin:0}
.comments-area .comment-body li{margin:5px 0}
.comments-area .comment-body a{text-decoration:underline}
.comments-area .comment-list>.comment:last-child>#respond,.comments-area>#respond{margin-bottom:0}
.comments-area .edit-link a{right:20px}
.comments-area .reply-link a:before{content:"\e64c"}
.comments-area .edit-link a:before{content:"\f3eb"}
.comments-area .comment-awaiting-moderation{color:#aaa;margin:10px 0 0}
.comments-area .pingback{margin-bottom:10px}
.comments-area .pingback .edit-link{display:none}
.comments-area .pingback+.comment{margin-top:40px}
.comments-area .no-comments{margin:0}
#respond{margin-bottom:45px}
#respond .logged-in-as>a:first-child{color:#777}
#respond .comment-form-comment{margin:30px 0}
#respond .comment-author-inputs{margin:0 -15px 30px}
#respond .form-submit{margin-bottom:0}
@media (max-width:767px){.comments-area .children{padding-left:0}
}
/*评论列表头像动态特效*/
.comment-list .comment-wrapper:hover .avatar{-webkit-animation-name:avatar;animation-name:avatar;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-iteration-count:1;animation-iteration-count:1}
@keyframes avatar{16.65%{-webkit-transform:translateY(8px);transform:translateY(8px)}
33.3%{-webkit-transform:translateY(-6px);transform:translateY(-6px)}
49.95%{-webkit-transform:translateY(4px);transform:translateY(4px)}
66.6%{-webkit-transform:translateY(-2px);transform:translateY(-2px)}
83.25%{-webkit-transform:translateY(1px);transform:translateY(1px)}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
/*评论等级*/
.level{margin-right:8px;font-size:12px;color:#fff;background-color:#666;padding:0 4px;border-radius:2px;font-size:12px;cursor:pointer;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;-ms-transition:.3s;filter:alpha(opacity=50);-moz-opacity:.5;-khtml-opacity:.5;line-height:150%;display:inline-block;vertical-align:middle;margin-top: -2px;}
.level:hover{filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:.5}
.level-0{background-color:#bfbfbf}
.level-1{background-color:#bfbfbf}
.level-2{background-color:#95ddb2}
.level-3{background-color:#92d1e5}
.level-4{background-color:#ffb37c}
.level-5{background-color:#ff6c00}
.level-6{background-color:red}